.venv
.codex
__pycache__/
*.txt
!requirements.txt
*.json
*.pdf
*.PDF
*.docx
*.csv
*.doc
*.Identifier
*.ini
*.pptx
.agents
.pytest_cache
*.zip
*.xlsx
*.mp4
*.jpg
*.rar
!abstract_001.pdf
!abstract_002.pdf
!webinar/Regions.csv